  <nav class="indigo darken-4">
    <div class="nav-wrapper container">
      <a href="#!" class="brand-logo center">Kréta 2.0 diák</a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="hide-on-med-and-down">
          <li><a href="student/profile"><i class="material-icons left">person</i> Profil</a></li>
          <li><a href="student/subjects"><i class="material-icons left">format_list_bulleted</i> Tantárgyak</a></li>
          <li class="right"><a class="btn blue darken-3 waves-effect waves-light">Kijelentkezés <i class="material-icons right">directions_walk</i></a></li>
      </ul>
    </div>
  </nav>
  
  <ul class="sidenav" id="mobile-demo">
      <li><a href="student/profile">Profil</a></li>
      <li><a href="student/subjects">Tantárgyak</a></li>
      <li class="center"><button class="btn blue darken-3 waves-effect waves-light">Kijelentkezés <i class="material-icons right">directions_walk</i></button></li>
  </ul>
  
  <div class="container">
    <h3 class="center">Az Ön tantárgyai</h3>
    <h6 class="center">Az Ön összesített tanulmányi átlaga: 4,73</h6>
    <br>
    <ul class="collapsible">
    <li>
      <div class="collapsible-header"><i class="material-icons">computer</i>Informatika<span class="badge">Átlag: 4.6</span></div>
      <div class="collapsible-body">
        <table class="striped centered">
          <thead>
            <tr>
              <th>Jegy</th>
              <th>Tanár</th>
              <th>Idő</th>
              <th>Leírás</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>5</td>
              <td>Tanár1</td>
              <td>2018. 01. 01.</td>
              <td>dolgozat</td>
            </tr>
            <tr>
              <td>4</td>
              <td>Tanár1</td>
              <td>2018. 01. 01.</td>
              <td>dolgozat</td>
            </tr>
            <tr>
              <td>5</td>
              <td>Tanár1</td>
              <td>2018. 01. 01.</td>
              <td>témazáró</td>
            </tr>
          </tbody>
        </table>
      </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">date_range</i>Történelem<span class="badge">Átlag: 5</span></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">book</i>Irodalom<span class="badge">Átlag: 4.6</span></div>
      <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
    </li>
    </ul>
  </div>