<nav *ngIf="authService.loggedIn()" class="indigo darken-3">
  <div class="nav-wrapper">
    <a routerLink="/" class="brand-logo">Kréta2</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <!-- Alap menü -->
      <li [ngClass]="{ 'active': isLinkActive('/profile') }"><a routerLink="profile">
        <i class="material-icons left">person</i> Profil</a>
      </li>

      <!-- Diák menü -->
      <li *ngIf="authService.isStudent()" [ngClass]="{ 'active': isLinkActive('/student/subjects') }">
        <a routerLink="student/subjects"><i class="material-icons left">format_list_bulleted</i> Tantárgyak</a>
      </li>

      <!-- Tanár menü -->
      <li *ngIf="authService.isTeacher()" [ngClass]="{ 'active': isLinkActive('/teacher-panel') }">
        <a routerLink="teacher-panel"><i class="material-icons left">build</i> Tanári panel</a>
      </li>
      <li *ngIf="authService.isTeacher()" [ngClass]="{ 'active': isLinkActive('/teacher/add-marks') }">
        <a routerLink="teacher/add-marks"><i class="material-icons left">add_circle</i> Osztályzatok rögzítése</a>
      </li>

      <!-- Admin menü -->
      <li *ngIf="authService.isAdmin()" [ngClass]="{ 'active': isLinkActive('/admin-panel') }">
        <a routerLink="admin-panel"><i class="material-icons left">build</i> Admin panel</a>
      </li>
      <li *ngIf="authService.isAdmin()" [ngClass]="{ 'active': isLinkActive('/admin/register-user') }">
        <a routerLink="admin/register-user"><i class="material-icons left">person_add</i> Felhasználó regisztrálása</a>
      </li>

      <!-- Kijelentkezés -->
      <li>
        <a (click)="logout()"><i class="material-icons left">directions_walk</i> Kijelentkezés</a>
      </li>
    </ul>
  </div>
</nav>

<ul *ngIf="authService.loggedIn()" class="sidenav" id="mobile-demo">
  <li>
    <div class="user-view">
      <div class="background">
        <img class="responsive-img" src="/assets/static/images/sidenav-header.jpg">
      </div>
      <a routerLink="/profile"><img class="circle" src="/assets/static/images/avatars/{{ authService.getUser().avatar }}"></a>
      <a routerLink="/profile"><span class="white-text name">{{ authService.getUser().realName }}</span></a>
      <a routerLink="/profile"><span class="white-text email">{{ authService.getUser().email }}</span></a>
    </div>
  </li>

  <li [ngClass]="{ 'active': isLinkActive('/profile') }">
    <a routerLink="profile"><i class="material-icons left">person</i> Profil</a>
  </li>

  <li><div class="divider"></div></li>

  <!-- Diák menü -->
  <li *ngIf="authService.isStudent()" [ngClass]="{ 'active': isLinkActive('/student/subjects') }">
    <a routerLink="student/subjects"><i class="material-icons left">format_list_bulleted</i> Tantárgyak</a>
  </li>

  <!-- Tanár menü -->
  <li *ngIf="authService.isTeacher()" [ngClass]="{ 'active': isLinkActive('/teacher-panel') }">
    <a routerLink="teacher-panel"><i class="material-icons left">build</i> Tanári panel</a>
  </li>
  <li *ngIf="authService.isTeacher()" [ngClass]="{ 'active': isLinkActive('/teacher/add-marks') }">
    <a routerLink="teacher/add-marks"><i class="material-icons left">add_circle</i> Osztályzatok rögzítése</a>
  </li>

  <!-- Admin menü -->
  <li *ngIf="authService.isAdmin()" [ngClass]="{ 'active': isLinkActive('/admin-panel') }">
    <a routerLink="admin-panel"><i class="material-icons left">build</i> Admin panel</a>
  </li>
  <li *ngIf="authService.isAdmin()" [ngClass]="{ 'active': isLinkActive('/admin/register-user') }">
    <a routerLink="admin/register-user"><i class="material-icons left">person_add</i> Felhasználó regisztrálása</a>
  </li>

  <li><div class="divider"></div></li>

  <!-- Kijelentkezés -->
  <li>
    <a (click)="logout()"><i class="material-icons left">directions_walk</i> Kijelentkezés</a>
  </li>
</ul>

<router-outlet></router-outlet>
