  <div class="container center">
      <br>
      <div class="container">
        <img class="responsive-img" src="/assets/static/images/avatars/{{ user.avatar }}">
      </div>
      <h3 class="header">{{ user.realName }}</h3>
      <h5 class="header">{{ user.classModel.name }}</h5>
      <br>
      <h5>Született:</h5>
      <h6>{{ user.birthDate | date:'yyyy/MM/dd' }}</h6>
      <br>

      <h5>Neme:</h5>
      <h6>{{ user.male ? 'Férfi' : 'Nő' }}</h6>
      <br>

      <h5>Állampolgársága:</h5>
      <h6>{{ user.nationality }}</h6>
  </div>


