<div class="container">
    <h3 class="center">Osztály hozzáadása</h3>
    <br>
    <form [formGroup]="addClassForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="section">

          <mz-input-container class="col s12 m6">
              <input mz-input mz-validation required
              id="input-class-name"
              formControlName="name"
              type="text"
              [errorMessageResource]="errorMessageResources.name"
              [label]="'Osztály neve'"/>
          </mz-input-container>

          <button mz-button [disabled]="!addClassForm.valid" type="submit">Hozzáadás</button>
      </div>
    </form>
  </div>
  