<div *ngIf="loading" class="progress">
  <div class="indeterminate"></div>
</div>
<div class="container">

    <h3 class="center">Osztály hozzáadása</h3>
    <br>
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="section">
        <div class="col s12 m6">
          <input id="classname" formControlName="classname" type="text" placeholder="Osztály neve" required>
          <label for="classname">Osztály neve</label>
        </div>
        <br>
        <div class="center-align">
          <button class="blue btn" [ngClass]="{ disabled: !form.valid }" type="submit">Hozzáadás</button>
        </div>
      </div>
    </form>
  </div>
