  <div class="container">
    <h3 class="center">Az Ön tantárgyai</h3>
    <h6 class="center">Az Ön összesített tanulmányi átlaga: {{ getTotalAverage() == 0 ? 'Számítás...' : getTotalAverage() }}</h6>
    <br>
    <!-- Jelezzük az adatok betöltését -->
    <div *ngIf="subjects?.length < 1" class="center-align">
      <div class="preloader-wrapper big active">
        <div class="spinner-layer spinner-blue-only">
          <div class="circle-clipper left">
            <div class="circle"></div>
          </div><div class="gap-patch">
            <div class="circle"></div>
          </div><div class="circle-clipper right">
            <div class="circle"></div>
          </div>
        </div>
      </div>
    </div>

    <ul *ngIf="subjects?.length > 0" class="collapsible">
      <li *ngFor="let subject of subjects; let i = index">
        <div class="collapsible-header">
          <i class="material-icons">{{ subject.icon }}</i>
          <span>{{ subject.name }}</span>
          <span class="badge">Átlag: {{ subject.average }}</span>
        </div>
        <div class="collapsible-body">
          <table class="striped centered">
            <thead>
              <tr>
                <th>Jegy</th>
                <th>Oktató</th>
                <th>Dátum</th>
                <th>Leírás</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let mark of subject.marks; let j = index">
                <td>{{ mark.mark }} </td>
                <td>{{ getUserName(mark.teacherUserId) }}</td>
                <td>{{ mark.date | date:'yyyy/MM/dd' }}</td>
                <td>{{ mark.description }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </li>
    </ul>

  </div>
