<div class="container">
  <h3 class="center">Felhasználó regisztrálása</h3>
  <br>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" novalidate>
    <div class="section">
      <h4>Személyes adatok</h4>

      <!-- Név -->
      <div class="row">
        <div class="col s12 m6">
          <input id="input-realname" formControlName="realname" type="text" required>
          <label for="input-realname">Teljes név</label>
        </div>

        <!-- Születési dátum -->
        <div class="col s12 m6">
          <input class="datepicker" id="datepicker-birthdate" formControlName="birthdate" type="text" required>
          <label for="input-realname">Születési dátum</label>
        </div>
      </div>

      <!-- Nem -->
      <br>

      <div class="row">
        <p>
          <label>
            <input id="radio-button-man" formControlName="male" name="male" [value]="true" type="radio" />
            <span>Férfi</span>
          </label>
        </p>
        <p>
          <label>
            <input id="radio-button-woman" formControlName="male" name="male" [value]="false" type="radio" />
            <span>Nő</span>
          </label>
        </p>
      </div>

      <br>

      <!-- Állampolgárság -->
      <div class="row">
        <div class="col s12 m6">
          <input id="input-nationality" formControlName="nationality" type="text" required>
          <label for="input-nationality">Állampolgárság</label>
        </div>

        <div class="col s12 m6">
          <input id="input-email" formControlName="email" type="email" required>
          <label for="input-email">E-mail</label>
        </div>
      </div>
    </div>

    <div class="section">
        <h4>Felhasználói fiók adatai</h4>

        <div class="row">
          <!-- Felhasználónév -->
          <div class="col s12 m6">
            <input id="input-username" formControlName="username" type="text" required>
            <label for="input-username">Felhasználónév</label>
          </div>

          <!-- Jelszó -->
          <div class="col s12 m6">
            <input id="input-password" formControlName="password" type="password" required>
            <label for="input-password">Jelszó</label>
          </div>
        </div>

        <div class="row">
          <!-- Csoport -->
          <div class="input-field col s12 m6">
            <label for="group">Csoport</label>
            <select id="group" formControlName="group" required>
              <option *ngFor="let group of groups; let i = index">{{ group.name }}</option>
            </select>
          </div>

          <!-- Szerepkör -->
          <div class="input-field col s12 m6">
            <label for="role">Szerepkör</label>
            <select id="role" formControlName="role" required>
              <option value="ROLE_ADMIN">Adminisztrátor</option>
              <option value="ROLE_STUDENT">Diák</option>
              <option value="ROLE_TEACHER">Tanár</option>
            </select>
          </div>
        </div>
    </div>

    <div class="center">
      <button class="btn blue" [disabled]="!form.valid" type="submit">Regisztrálás</button>
      &#8203;
      <button class="btn blue" (click)="reset()" type="button">Alaphelyzet</button>
    </div>

    <br>

  </form>
</div>
