  <div class="container">
    <div class="section">

      <!--   Icon Section   -->
        <div class="row flex">
          <div class="col s12 m3">
            <a routerLink="/admin/register-user">
            <div class="card hoverable indigo darken-2 white-text">
              <div class="icon-block">
                <h2 class="center light-blue-text"><i class="material-icons">person_add</i></h2>
                <h5 class="center">Új felhasználó</h5>
              </div>
            </div>
            </a>
          </div>

        <div class="col s12 m3">
          <a routerLink="/admin/add-class">
          <div class="card hoverable indigo darken-2 white-text">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group_add</i></h2>
              <h5 class="center">Új osztály létrehozása</h5>
            </div>
          </div>
          </a>
        </div>

        <div class="col s12 m3">
          <div class="card hoverable indigo darken-2 white-text">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">group</i></h2>
              <h5 class="center">Osztály szerkesztése</h5>
            </div>
          </div>
        </div>

        <div class="col s12 m3">
          <div class="card hoverable indigo darken-2 white-text">
            <div class="icon-block">
              <h2 class="center light-blue-text"><i class="material-icons">person</i></h2>
              <h5 class="center">Felhasználó szerkesztése</h5>
            </div>
          </div>
        </div>

    </div>
    <br><br>
  </div>
</div>>
